<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ARS Model API</title>
  </head>
  <body>
    <form action="/predecir" method="get">
      <table>
        <tr>
          <th>Estado de ánimo</th>
        </tr>
        <tr>
          <td>Animado: </td>
          <td><input type="number" name="animado"></td>
        </tr>
        <tr>
          <td>Feliz: </td>
          <td><input type="number" name="feliz"></td>
        </tr>
        <tr>
          <td>Triste: </td>
          <td><input type="number" name="triste"></td>
        </tr>
        <tr>
          <td>Cansado: </td>
          <td><input type="number" name="cansado"></td>
        </tr>
        <tr>
          <td>Afectuoso: </td>
          <td><input type="number" name="afectuoso"></td>
        </tr>
        <tr>
          <td>Contento: </td>
          <td><input type="number" name="contento"></td>
        </tr>
        <tr>
          <td>Pesimista: </td>
          <td><input type="number" name="pesimista"></td>
        </tr>
        <tr>
          <td>Agitado: </td>
          <td><input type="number" name="agitado"></td>
        </tr>
        <tr>
          <td>Adormecido: </td>
          <td><input type="number" name="adormecido"></td>
        </tr>
        <tr>
          <td>Gruñón: </td>
          <td><input type="number" name="gruñon"></td>
        </tr>
        <tr>
          <td>Vivaracho: </td>
          <td><input type="number" name="vivaracho"></td>
        </tr>
        <tr>
          <td>Nervioso: </td>
          <td><input type="number" name="nervioso"></td>
        </tr>
        <tr>
          <td>Tranquilo: </td>
          <td><input type="number" name="tranquilo"></td>
        </tr>
        <tr>
          <td>Cariñoso: </td>
          <td><input type="number" name="cariñoso"></td>
        </tr>
        <tr>
          <td>Harto: </td>
          <td><input type="number" name="harto"></td>
        </tr>
        <tr>
          <td>Energético: </td>
          <td><input type="number" name="energetico"></td>
        </tr>

        <tr>
          <th>Selección de olores</th>
        </tr>
        <tr>
          <td>Limón: </td>
          <td><input type="number" name="limon"></td>
        </tr>
        <tr>
          <td>Lemongrass: </td>
          <td><input type="number" name="lemongrass"></td>
        </tr>
        <tr>
          <td>Pachuli: </td>
          <td><input type="number" name="pachuli"></td>
        </tr>
        <tr>
          <td>Romero: </td>
          <td><input type="number" name="romero"></td>
        </tr>
        <tr>
          <td>Oregano: </td>
          <td><input type="number" name="oregano"></td>
        </tr>
        <tr>
          <td>Violeta: </td>
          <td><input type="number" name="violeta"></td>
        </tr>
        <tr>
          <td>Almizcle: </td>
          <td><input type="number" name="almizcle"></td>
        </tr>
        <tr>
          <td>Gengibre: </td>
          <td><input type="number" name="gengibre"></td>
        </tr>
        <tr>
          <td>Pimienta: </td>
          <td><input type="number" name="pimienta"></td>
        </tr>
        <tr>
          <td>Ambar gris: </td>
          <td><input type="number" name="ambar_gris"></td>
        </tr>

        <tr>
          <td></td>
          <td><input type="submit" value="Predecir"></td>
        </tr>
      </table>

    </form>
  </body>
</html>

<!--
var FEELINGS = ['animado', 'feliz', 'triste', 'cansado', 'afectuoso', 'contento',
'pesimista', 'agitado', 'adormecido', 'gruñon', 'vivaracho', 'nervioso', 'tranquilo',
'cariñoso', 'harto', 'energetico'];

var SMELLS = ['limon', 'lemongrass', 'pachuli', 'romero', 'oregano', 'violeta',
'almizcle', 'gengibre', 'pimienta', 'ambar_gris'];
-->